<h1>Sign Up as a New User</h1>
<header class="header">
    
    <%= form_for(@user) do |f| %>
    <%= f.text_field :username, class: "new-todo", placeholder: "name goes here" %>
    <%= f.text_field :password, class: "new-todo", placeholder: "password goes here" %>
    <%= f.submit %>
    <% end %>

  </header>
