<h1>Welcome to Cliff Notes!</h1>
<br>
<h2>Login or Register to Begin</h2>
<ul>
<% @locations.each do |location| %>
<li>
  <h3><%= link_to location.name, location_path(location) %></h3>
</li>
<%  end %>
</ul>
<%= link_to "Add a Location", new_location_path %>
