
<% if logged_in? %>
<h1>Welcome to Cliff Notes, <%= current_user.username.capitalize %>!</h1>
<br>
<% else %>
<h1>Welcome to Cliff Notes</h1>

<% end %>
<ul>
<% @locations.each do |location| %>
<li>
  <h3><%= link_to location.name, location_path(location) %></h3>
</li>
<%  end %>
</ul>
<%= link_to "Add a Location", new_location_path %>
